<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Gerenciar Eleitores - {{ election.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
</head>

<body>
    <h1>Gerenciar Eleitores para: {{ election.title }}</h1>

    <h2>Eleitores já cadastrados:</h2>
    <ul>
        {% for voter in voters %}
        <li>
            {{ voter.name }} - {{ voter.email }}  
            <br>Token: {{ voter.vote_token }}
            <br>Link de Votação: 
            <a href="{% url 'vote' election.id voter.vote_token %}">
                {{ request.build_absolute_uri|slice:":-1" }}{% url 'vote' election.id voter.vote_token %}
            </a>
        </li>
        {% empty %}
        <li>Nenhum eleitor cadastrado.</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Novo Eleitor</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar</button>
    </form>

    <p><a href="{% url 'home' %}">← Voltar</a></p>
</body>

</html>
