/* ================================== */
/* VARIÁVEIS DE CORES E FONTES */
/* ================================== */
:root {
    /* Paleta de Cores */
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --primary-color-dark: #004085;
    --secondary-color: #6c757d;
    --success-color: #008000;
    --dark-background-color: #0B3B56;
    --footer-text-color: #d6d1d1;
    --light-background-color: #f8f9fa;
    --light-border-color: #e9ecef;

    /* Cores de Texto */
    --text-color: #333;
    --text-white: #ffffff;
    --text-muted: #6c757d;

    /* Outras Variáveis */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ================================== */
/* ESTILOS GERAIS E LAYOUT */
/* ================================== */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--light-background-color);
    color: var(--text-color);
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 960px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 1;
}

/* ================================== */
/* ESTILOS DE COMPONENTES */
/* ================================== */
/* Botões */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-dark);
}

/* Títulos */
h1 {
    color: var(--primary-color);
    font-weight: bold;
}

h2 {
    color: var(--secondary-color);
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--light-border-color);
    padding-bottom: 0.5rem;
}

/* Cards */
.card {
    border: none;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-footer {
    background-color: var(--light-border-color);
    border-top: 1px solid var(--light-border-color);
}

.badge {
    vertical-align: middle;
    font-size: 1.0rem;
}

/* ================================== */
/* NAVBAR E FOOTER */
/* ================================== */
.bg-dark,
footer {
    background-color: var(--dark-background-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--text-white) !important;
}

footer {
    flex-shrink: 0;
    padding: 10px 0;
    color: var(--text-white) !important;
}

footer p,
footer a {
    color: var(--footer-text-color) !important;
}

.footer-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icon-link i {
    color: var(--text-white) !important;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.social-icon-link:hover i {
    color: var(--success-color) !important;
}

.footer-bottom img {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}